.main-head{
    width: 95%;
    margin: 0 0 auto;
}
body{
    @include flex(center, center, row);
}
.most{
    
}
.outer{
    // min-height: 3vh;
}
.side-links{
    // min-width: 10vw
    background: black;
}
.main{
    // position: absolute;
    // top: 0px;
    // left: 0px;
    // display: flex;
    @include flex(center, center, row);
    background-image: url(/j2/icon-img/unnamed\ \(4\).jpg);
    background-size: cover;
    max-width: 90vmax;
    height: auto
}
.intro-glass{
    @include flex(center, center, row);
    // min-height: 90vh;
    // border: solid white;
    flex: 1 1 40vw;
    
}
.side{
    padding: 0rem;
    margin: 0rem;
    transform: rotate(180deg);
    .side-text{
        writing-mode: vertical-lr;
        font-size: 9rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.726);
    }
}
.glass{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.29);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    border: 1px solid rgba(255, 255, 255, 0.26);
    //
    padding: 8rem;
    min-height: 90vh;
    h1{
        padding: 3rem;
        display: inline-block;
        color: $pine_green;
        font-size: 6rem;
        font-weight: 600;
        img{
            max-width: 3rem;
        }
    }
    
    p{
        color: $eerie;
        font-size: 3rem;
        padding: 3rem;
    }
}


.nav-links{
    // min-height: 20vh;
    // border: solid white;
    flex: 1 1 40vw;
    align-self: flex-end;
}