body{
    // background-image: url(/j2/icon-img/copper.jpg);
    // background-size: cover;
    // background-color: rgba($color: #000000, $alpha: 0.1);
    // background-color: #212121;
    
    background-color: #e8e8e8;
}
nav{
    // background-color: $plat;
    // background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    // background-blend-mode: normal, lighten, soft-light;

    background-color: #e8e8e8;
    @include flex(space-between, center, row);
    min-height: 10vh;
    flex-wrap: wrap;
    .logo{
        @include flex(flex-start, center, row);
        flex: 1 1 10rem;
        h1{
            margin: 2rem;
            color: #212121;
        }
        margin: 0rem 2rem;
    }
    ul{
        @include flex(flex-end, center, row);
        flex: 1 1 10rem;
        list-style: none;
        li{
          padding: 0 10rem 0 10rem;
          list-style: none;
          a{
            color: #212121;
          }
        }
    }
    .active{
      background-color: #212121;
      color: #e8e8e8;
      padding: 1rem;
      border-radius: 1rem;
    }
}
.intro{
    min-height: 90vh;
    margin: auto;
    flex-wrap: wrap;
    @include flex(center, center, row);
    
}
.intro-text{
    padding: 3rem;
    flex: 1 1 50rem;
    color: #212121;
    h2{
      font-size: 6rem;
      // background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
      // background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
    }
}
.intro-img{
    align-self: flex-start;
    min-height: 90vh;
    // background-color: $ice;
    // background: #6190E8;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-color: #e8e8e8;
    @include flex(flex-start, stretch, column);
    .image{
      font-family: 'IBM Plex Mono', monospace;
        img{
            max-width: 100rem;
        }
    }
    .description{
        @include flex(flex-start, center, column);
        // p{
        //     align-self: flex-start;
        //     font-family: 'IBM Plex Mono', monospace;
        //     font-weight: 400;
        //     padding-left: 0.5rem;
        // }
        button{
          cursor: pointer;
          margin-top: 3rem;
          font-family: 'IBM Plex Mono', monospace;
          padding: 2rem;
          border: none;
          border-radius: 16px;
          background: #e8e8e8;
          box-shadow:  14px 14px 29px #c5c5c5,
             -14px -14px 29px #ffffff;
        }
    }
}
